@import "tailwindcss";

*, :before, :after{
  
  box-sizing: border-box;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::placeholder{
  opacity: 0.6
}
::placeholder, input {
  color: #002238;
}
html,body{
  width:100%;
  height:100%;
}
a {
  font-weight: 500;
  color: #fff;
  text-decoration: inherit;
}
a:hover {
  color: #fff;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  font-weight:300
}


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

